@model NationalNeon.Web.ViewModels.DepartmentViewModel
<style>
    .has-error {
        color: red;
        display: none;
    }

    #colorpicker
    {
        float:left;
    }

    .swatch input {
        height: 30px;
        float: right;
        border: 2px #000 solid;
        border-radius: 5px;
    }

    .form-item.input-group input.custom-scroll {
        height:46px;
        background:#eee;
    }


</style>


<script type="text/javascript" src="~/js/colorpicker/farbtastic.js"></script>
<link href="~/css/colorpicker/farbtastic.css" rel="stylesheet" />
<div class="modal-content">
    <div class="modal-header modal-popup-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title noprint">New Department</h1>
    </div>
    <div class="modal-body">
        <form class="smart-form noprint" asp-action="AddDepartment" asp-controller="Department" data-ajax="true" data-ajax-method="POST" id="addNewDepartmentForm">
            <section>
                <label asp-for="DepartmentName" class="label"></label>
                <label class="textarea textarea-resizable">
                    <textarea asp-for="DepartmentName" required="required" rows="6" class="custom-scroll" onchange="$(this).parent().find('.has-error').remove();"></textarea>
                    <span class="has-error" id="invalid_departmentname">Please enter department name</span>
                </label>


                @*<span asp-validation-for="DepartmentName" class="text-danger"></span>*@
            </section>

            <section>
                <label asp-for="Description" class="label"></label>
                <label class="textarea textarea-resizable">
                    <textarea asp-for="Description" rows="6" required="required" class="custom-scroll" onchange="$(this).parent().find('.has-error').remove();"></textarea>
                    <span class="has-error" id="invalid_departmentdescription">Please enter department description</span>
                </label>

                @*<span asp-validation-for="Description" class="text-danger"></span>*@
            </section>
            <section>
                <input type="checkbox" id="VisibleOnDashboard" name="VisibleOnDashboard" value="false" />
                Show on Dashboard
            </section>
            <section>
                <div class="col-lg-6">
                    <div id="colorpicker"></div>
                </div>

                <div class="col-lg-6">
                    <label asp-for="Color" class="label"></label>
                    <div class="form-item input-group">
                        <input asp-for="Color" type="text" required="required" class="custom-scroll form-control" id="Color" onchange="$(this).parent().find('.has-error').remove();" />
                        <span class="has-error" id="invalid_color">Please Select Color</span>
                        <div class="swatch input-group-addon">
                            <input type="text" id="colorDiv" name="Color" value="#123456" disabled />
                        </div>
                    </div>
                </div>
            </section>

            <div class="clearfix"></div>
            
            <footer class="text-center form-submit">
                <button type="button" class="btn btn-danger form-submit-btn add_newDepartment_btn">Submit</button>

            </footer>
        </form>
    </div>

</div>
<script type="text/javascript" charset="utf-8">
    $('#colorpicker').farbtastic(function (color) {
       
        $('#Color').val(color);
        $('#colorDiv').css('background-color', color);
    });
</script>
