@model NationalNeon.Web.ViewModels.DepartmentViewModel
<style>
    .has-error {
        color: red;
        display: none;
    }
</style>
<div class="modal-content">
    <div class="modal-header modal-popup-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title noprint">New Department</h1>
    </div>
    <div class="modal-body">
        <form class="smart-form noprint" asp-action="AddDepartment" asp-controller="Department" data-ajax="true" data-ajax-method="POST" id="addNewDepartmentForm">
            <section>
                <label asp-for="DepartmentName" class="label"></label>
                <label class="textarea textarea-resizable">
                    <textarea asp-for="DepartmentName" required="required" rows="6" class="custom-scroll" onchange="$(this).parent().find('.has-error').remove();"></textarea>
                    <span class="has-error" id="invalid_departmentname">Please enter department name</span>
                </label>


                @*<span asp-validation-for="DepartmentName" class="text-danger"></span>*@
            </section>

            <section>
                <label asp-for="Description" class="label"></label>
                <label class="textarea textarea-resizable">
                    <textarea asp-for="Description" rows="6" required="required" class="custom-scroll" onchange="$(this).parent().find('.has-error').remove();"></textarea>
                    <span class="has-error" id="invalid_departmentdescription">Please enter department description</span>
                </label>

                @*<span asp-validation-for="Description" class="text-danger"></span>*@
            </section>
            <section>
                   <input type="checkbox" id="VisibleOnDashboard" name="VisibleOnDashboard" value="false" />
                   Show on Dashboard
            </section>
            <footer class="text-center form-submit">
                <button type="button" class="btn btn-danger form-submit-btn add_newDepartment_btn">Submit</button>
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
            </footer>
        </form>
    </div>
</div>
