
@{
    ViewData["Title"] = "Index";
    var message = ViewBag.Message;
}
<div class="row">
    
    </div>

        @section Scripts {
            <script type="text/javascript">
                $(document).ready(function () {

                });
            </script>
        }


