@model NationalNeon.Web.ViewModels.JobViewModel
<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noprint form-group">
            <button onclick="window.history.back();" class="btn btn-danger"><i class="fa fa-chevron-left"></i> Back</button>
            <button id="refreshJobs" class="btn btn-danger export-data"><i class="fa fa-repeat"></i> Refresh</button>

            <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#myModal" id="newJob">New Job</button>
            <button id="print" onclick="window.print()" class="btn btn-danger export-data pull-right"><i class="fa fa-print"></i> Print</button>

            <div class="modal fade noprint" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-body" id="divAddPopup">
                        <!-- Modal content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jobsList">
    </div>
    <!-- NEW WIDGET START -->
    <!-- WIDGET END -->
    <!-- end row -->
    <!-- end row -->

</section>


@*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
@*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
@*<script src="~/js/bootstrap/bootstrap.min.js"></script>*@
@*<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>*@
<!-- BS JavaScript -->
@*<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
<script>

    $(document).ready(function () {
        var jobId = 0;
        jobList();

        applyDatePicker();

        $.ajax({
            url: "/Jobs/AddJobs",
            type: "GET",
            async: false,
            success: function (result) {
                $("#divAddPopup").html(result);
            }
        });
        applyDatePicker();
        $('#divAddPopup').delegate('.btn_addUpdateJobs', 'click', function () {

            let isValid = true;
            var formValue = $("#addUpdateJobForm").serialize();
            if (formValue !== undefined) {
                if ($('input[name="job_number"]').val() == '' || $('input[name="job_number"]').val() == undefined) {
                    $("#invalid_Job").show();
                    isValid = false;
                }
                if ($('input[name="job_name"]').val() == '' || $('input[name="job_name"]').val() == undefined) {
                    $("#invalid_JobName").show();
                    isValid = false;
                }

                if ($('input[name="target_completion_date"]').val() == '' || $('input[name="target_completion_date"]').val() == undefined) {
                    $("#invalid_target_completion_date").show();
                    isValid = false;
                }
                //if ($('input[name="revenue"]').val() == '' || $('input[name="revenue"]').val() == undefined) {
                //    $("#invalid_revenue").show();
                //    isValid = false;
                //}
                //if ($('input[name="scheduled_date"]').val() == '' || $('input[name="scheduled_date"]').val() == undefined) {
                //    $("#invalid_scheduled_date").show();
                //    isValid = false;
                //}
            }

            if (isValid) {
                $('#divAddPopup [id^="invalid_"]').hide();
                if (setJobDates()) {
                    formValue = $("#addUpdateJobForm").serialize();
                    saveOrUpdate(formValue);
                }
            }
        });

        $("#newJob").click(function () {
            $('#addUpdateJobForm').find("input, textarea, select, number").val("");
        });

        $("#jobFile").on("change", function () {

            if (validateFile()) {
                $("#invalid_JobFileLength").hide();
            }
            else {
                $("#invalid_JobFileLength").show();
            }
        });

    });

    //function getContent(current) {
    //    $("invalid_Job").remove();
    //}

    function jobList() {
        $.ajax({
            url: "/Jobs/JobsList",
            async: false,
            success: function (result) {
                $(".jobsList").html(result);
            }
        });
    }

    function saveOrUpdate(formValue) {
        //$.noConflict();
        $.ajax({
            type: 'POST',
            url: "/Jobs/AddJobs",
            async: false,
            data: formValue,
            //success: function (result) {
            //    if (result.success) {
            //        jobList();
            //        $('#closePop').click();
            //        window.location.reload();

            //    }
            //}
            success: function (result) {
                if (result.success) {
                    $('.close').click();
                    $.notify({
                        title: result.title,
                        message: result.message,
                    },
                        {
                            type: result.type,
                            allow_dismiss: false,
                            showProgressbar: true,
                            delay: '100',
                            newest_on_top: true,
                        });
                }

                setTimeout(() => {
                    window.location.reload();
                }, 2000);
            }
        });
    }

    function setJobID(jobid) {
        jobId = jobid;
    }

    function deleteJob() {
        callDelete(jobId);
        $("#btn_closeConfirm").click();
    }

    function callDelete(jobId) {
        //$.noConflict();
        $.ajax({
            type: 'POST',
            url: '/Jobs/Delete?id=' + jobId + '',
            //success: function () {
            //    jobList();
            //}
            success: function (result) {
                if (result.success) {
                    $('.close').click();
                    $.notify({
                        title: "<strong>Deleted:</strong> ",
                        message: "Jobs Deleted Succesfully",
                    },
                        {
                            type: 'danger',
                            allow_dismiss: false,
                            showProgressbar: true,
                            delay: '100',
                            newest_on_top: true,
                        });
                }
                setTimeout(() => {
                    window.location.reload();
                    //window.location.href = "/Department";
                    //taskList();
                }, 2000);
            }
        });
    }

    function ArchivedJobs(jobid) {
        jobId = jobid;
    }

    function ArchivedJobSave() {
        UpdateArchive(jobId);

        //jobList();
    }
    function UpdateArchive(jobId) {
        $.ajax({
            type: 'POST',
            url: '/Archived/UpdateArchive?id=' + jobId + '',
            success: function () {
                $("#archived").click();
                //jobList();
                window.location.reload();
            }
        });
    }

    function UploadFileJobs(jobid) {
        jobId = jobid;
    }

    function UploadFileSave() {
        saveUploadFile(jobId);
    }
    function saveUploadFile(jobId) {
        //$.noConflict();
        if (window.FormData !== undefined) {
            if (validateFile()) {
                var fileUpload = $("#jobFile").get(0);
                var files = fileUpload.files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                fileData.append('jobid', jobId);
                $.ajax({
                    type: 'POST',
                    url: '/Jobs/saveUploadFile?',
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function (result) {
                        if (result.success) {

                            $('.close').click();
                            $.notify({
                                title: "<strong>Success:</strong> ",
                                message: "File  succesfully uploaded.",
                            },
                                {
                                    type: 'success',
                                    allow_dismiss: false,
                                    showProgressbar: true,
                                    delay: '100',
                                    newest_on_top: true,
                                });
                        }
                        else if (result.error) {
                            $.notify({
                                title: "<strong>Error:</strong> ",
                                message: "File could not be uploaded.",
                            },
                                {
                                    type: 'error',
                                    allow_dismiss: false,
                                    showProgressbar: true,
                                    delay: '100',
                                    newest_on_top: true,
                                });

                        }
                        setTimeout(() => {
                            window.location.reload();

                        }, 2000);
                    }
                });
            }
            else {
                $("#invalid_JobFileLength").show();
            }

        } else {

        }

    }

    function validateFile(files) {

        var fileUpload = $("#jobFile").get(0);
        var files = fileUpload.files;
        if (files.length > 0)
            return true;
        else
            return false;
    }

    $("#refreshJobs").click(function () {
        history.go(0);
    });
    function setJobDates() {

        var targetCompleteDate = $("#target_completion_date").val();
        var scheduledDate = $("#scheduled_date").val();
        var isValid = false;
        if (targetCompleteDate != "" && targetCompleteDate != undefined) {
            var targetDateParameters = targetCompleteDate.split('/');
            var targetDatemonth = targetDateParameters[0];
            var targetDateday = targetDateParameters[1];
            var targetDateyear = targetDateParameters[2];
            $("#target_completion_date").val(targetDateyear + "-" + targetDatemonth + "-" + targetDateday);
            $("#target_completion_date").attr('value', targetDateyear + "-" + targetDatemonth + "-" + targetDateday);
            isValid = true;
        }
        //01/01/0001
        if (scheduledDate != "" && scheduledDate != undefined) {

            var scheduledDateParameters = scheduledDate.split('/');
            var scheduledDatemonth = scheduledDateParameters[0];
            var scheduledDateday = scheduledDateParameters[1];
            var scheduledDateyear = scheduledDateParameters[2];
            $("#scheduled_date").val(scheduledDateyear + "-" + scheduledDatemonth + "-" + scheduledDateday);
            $("#scheduled_date").attr('value', scheduledDateyear + "-" + scheduledDatemonth + "-" + scheduledDateday);
           // isValid = true;
        }
        //else {
        //    isValid = false;
        //}
        //if (isValid) {
        //    if (scheduledDate != "" && scheduledDate != undefined) {

        //        var scheduledDateParameters = scheduledDate.split('/');
        //        var scheduledDatemonth = scheduledDateParameters[0];
        //        var scheduledDateday = scheduledDateParameters[1];
        //        var scheduledDateyear = scheduledDateParameters[2];
        //        $("#scheduled_date").val(scheduledDateyear + "-" + scheduledDatemonth + "-" + scheduledDateday);
        //        $("#scheduled_date").attr('value', scheduledDateyear + "-" + scheduledDatemonth + "-" + scheduledDateday);
        //        isValid = true;
        //    }
        //    else {
        //        isValid = false;
        //    }
        //}
        return isValid;
    }
    function applyDatePicker() {
        $('.dateCalender').datepicker({
            autoclose: true,
            //dateFormat: 'yyyy-mm-dd'
            dateFormat: 'mm/dd/yy'
            
         }).on("change", function () {
            $(this).attr('value', this.value);
        });
    }
</script>
