@model string
@{
    ViewData["Title"] = "RegistrationSuccessful";
}
<div class="container body-content">
    <div class="row text-center" style="margin-top:35%">
        <div class="col-lg-12">
            <h2 class="text-success">Your account has been activated successfully</h2>
            <h5>Please login</h5>
        </div>
    </div>
</div>


