@model NationalNeon.Web.Models.LoginViewModel

 <div>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Launch demo modal
        </button>
        <!-- Modal -->
       
           
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                 </button>
                                <h4 class="modal-title" id="myModalLabel">Model Popup Validations</h4>
                            </div>
                            <div class="modal-body" id="frmEmp">
                                <h5 class="text-danger">Login Error !</h5>
                                <h6 class="text-danger">Incorrect Combination of Email or Password.</h6>
                                <h6 class="text-danger">Please retyping your email address or password.</h6>
                            </div>
                           
                        </div>
                    </div>
              
      
    </div>