@model NationalNeon.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}
<div class="container body-content">

    @if (ViewBag.MailPasswordNotExist == "NotExist")
    {
        <div class="col-md-5 mx-auto mt-5 py-5 px-5" style="background:#fff; box-shadow: 0px 0px 1px 2px #0000001a;">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-danger">Error !</h5>
                    <h6 class="">Invalid email address or password.</h6>
                </div>
            </div>
        </div>

    }
    @if (ViewBag.MailExist == 3)
    {
        <div class="col-md-5 mx-auto mt-5 py-5 px-5" style="background:#fff; box-shadow: 0px 0px 1px 2px #0000001a;">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="text-danger">Error !</h5>
                    <h6>Email address does not exist.</h6>
                </div>
            </div>
        </div>

    }
    @if ((ViewBag.MailPasswordNotExist == "NotExist" || ViewBag.HomeForgetPassword == "Reset"))
    {
        <div class="col-md-5 mx-auto mt-5 py-5 px-5" style="background:#fff; box-shadow: 0px 0px 1px 2px #0000001a;">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        @if (ViewBag.PlayerNotExistMsg == "PlayerNotExist")
                        {
                            <p class="text-danger font-weight-bold">Email address does not exist.</p>}
                        <div class="panel-body">
                            <div class="text-center">
                                <h3><i class="fa fa-lock fa-4x"></i></h3>
                                <h2 class="text-center">Forgot Password?</h2>
                                <p>You can reset your password here.</p>
                                <div class="panel-body">

                                    <form asp-action="ForgotPassword">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <div class="form-group">
                                            <input asp-for="EmailId" placeholder="Email address" class="form-control" type="email">
                                            @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

    @if (ViewBag.PlayerNotActive == 2)
    {<form asp-action="ActivatePlayerAccount">
            <div class="col-md-5 mx-auto mt-5 py-5 px-5" style="background:#fff; box-shadow: 0px 0px 1px 2px #0000001a;">
                <div class="row">
                    <div class="col-md-12">
                        <input asp-for="EmailId" type="hidden" />
                        <h5 class="text-danger">Error !</h5>
                        <h6>Your account is not activated, please<button type="submit" class="btn btn-link">click here</button>to recieve an account activation mail and click on the provided link to activate your account.</h6>
                    </div>
                </div>
            </div>
        </form>

    }

    @if (ViewBag.ResetPasswordMsg == "ResetPasswordMsg")
    {
        <div class="col-md-5 mx-auto mt-5 py-5 px-5" style="background:#fff; box-shadow: 0px 0px 1px 2px #0000001a;">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="text-danger">Check email address for reset password link.</h6>
                </div>
            </div>
        </div>

    }

</div>