@model NationalNeon.Web.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-5 mx-auto mt-5 py-5 px-5" style="background:#fff; box-shadow: 0px 0px 1px 2px #0000001a;">
            <h2>Reset Password</h2>
            <hr />
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row"></div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <input asp-for="ReturnToken" class="form-control" type="hidden" />
                    <input asp-for="EmailId" class="form-control" type="hidden" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary btn-block" />
                </div>
                @if (ViewBag.Message == 1)
                {
                    <div class="form-group">
                        <p class="text-success font-weight-bold">Password successfully reset.</p>
                    </div>
                }
                @if (ViewBag.Message == 2)
                {
                    <div class="form-group">
                        <p class="text-danger font-weight-bold">Not a valid password reset link.</p>
                    </div>
                }
            </form>
        </div>
    </div>
</div>




